[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

requests = "*"
numpy = "*"
pandas = "*"
tabula-py = "*"
tqdm = "*"
xlsxwriter = "*"
flask = "*"
tablib = "*"
pylint = "*"
bizdays = "*"
werkzeug = ">=0.15.3"


[requires]

python_version = "3"


[dev-packages]

